<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Draw</title>
    <script src="draw.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container text-center">
        <div class="drawWord">
            <h3 class="text">Du skal tegne</h3>
            <h2 class="word"></h2>
        </div>
        <div class="">
            <canvas id="drawCanvas" class="canvas"></canvas>
            <a class="btn" href="#" onclick="submitDrawing()">Ferdig</a>
        </div>
    </div>
</body>
</html>
