<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Draw</title>
    <script src="draw.js"></script>
    <style>
        canvas {
            margin: auto;
            border: 5px solid gray;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <canvas id="drawCanvas"></canvas>
    <button onclick="submitDrawing()">Ferdig</button>
    <input type="text" placeholder="Navn" id="username">
</body>
</html>