<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Draw</title>
    <script defer src="/js/draw.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container text-center">
        <div class="drawword">
            <p class="text">Du skal tegne:</p>
            <p class="word"></p>
        </div>
        <div class="canvasholder">
            <canvas id="drawCanvas" class="canvas"></canvas>
            <div class="buttons inline" style="column-gap: 5px;">
                <a class="btn" id="eraseButton" style="justify-self: end; width: 121px;">Viskelær</a>
                <a class="btn" id="resetButton" style="justify-self: start; width: 121px;">Reset</a>
            </div>
        </div>
        <div class="buttons">
            <a class="btn" id="submitButton">Ferdig</a>
        </div>
    </div>
</body>
</html>
