<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryktet Går</title>
    <script src="/js/index.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container text-center">
        <div class="text">
            <h1>Ryktet Går</h1>
            <div class="error">
                <% if (locals.invalid) { %>
                    <p><%= invalid %> finnes ikke</p>
                <% } %>
                <% if (locals.started) { %>
                    <p><%= started %> har allerede startet</p>
                <% } %>
            </div>
        </div>
        <div class="buttons">
            <a class="btn" href="/new" type="button">Nytt spill</a>
            <a class="btn" href="/draw" type="button">Draw</a>
            <a class="btn" href="/instrukser" type="button">Instrukser</a>
        </div>
    </div>
</body>
</html>
