<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryktet Går</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-43ZQPLRC6J"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-43ZQPLRC6J');
    </script>
</head>
<body>
    <div class="container text-center">
        <div class="text">
            <h1>Ryktet Går</h1>
            <div class="error">
                <% if (locals.invalid) { %>
                    <p><%= invalid %> finnes ikke</p>
                <% } %>
                <% if (locals.started) { %>
                    <p><%= started %> har allerede startet</p>
                <% } %>
            </div>
        </div>
        <div class="buttons">
            <a class="btn" href="/join" type="button">Bli med i spill</a>
            <a class="btn" href="/new" type="button">Nytt spill</a>
            <!-- <a class="btn" href="/draw" type="button">Draw</a>
            <a class="btn" href="/vote" type="button">Vote</a> -->
            <!-- <a class="btn" href="/instrukser" type="button">Instrukser</a> -->
        </div>
        <footer>
            <p>Laget av <a href="https://github.com/Jorgen1040/ryktetgaar" target="_blank">Jørgen Ringstad Møglestue</a></p>
            <p>ved Nesodden VGS 2021</p>
            <a href="https://viken.no/nesodden-vgs/" href="_blank">
                <img src="/images/nvgs.svg" alt="Nesodden Videregående Skole" width="200px">
            </a>
        </footer>
    </div>
</body>
</html>
