<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryktet Går</title>
    <script defer src="/js/join.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container text-center">
        <div class="text">
            <h1>Ryktet Går</h1>
            <p>Skriv inn spillkode for å bli med:</p>
        </div>
        <div>
            <input type="text" id="codeInput" placeholder="Spillkode" autocomplete="off" maxlength="4" autofocus><br>
        </div>
        <div class="buttons">
            <a class="btn disabled" id="codeConfirm">Bli med</a>
            <a class="btn" href="/" type="button">Tilbake</a>
        </div>
        <footer>
            <p>Laget av <a href="https://github.com/Jorgen1040/ryktetgaar" target="_blank">Jørgen Ringstad Møglestue</a></p>
            <p>ved Nesodden VGS 2021</p>
            <a href="https://viken.no/nesodden-vgs/" href="_blank">
                <img src="/images/nvgs.svg" alt="Nesodden Videregående Skole" width="200px">
            </a>
        </footer>
    </div>
</body>
</html>
