<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryktet Går - lobby</title>
    <script src="/socket.io/socket.io.js"></script>
    <script defer src="/js/lobby.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- TODO: Fix page being too tall -->
    <div class="container text-center lobby hidden">
        <div class="invite">
            <p>Invitasjons-url:</p>
            <div class="link">
                <span class="tooltiptext">Kopiert til utklippstavle</span>
            </div>
        </div>
        <div class="buttons">
            <a class="btn disabled hidden" id="startButton">Start spill</a>
        </div>
        <div class="players"></div>
        <div class="buttons">
            <a class="btn" href="/">Forlat</a>
        </div>
    </div>
    <div class="container text-center name">
        <p>Vennligst velg et navn:</p>
        <div>
            <input type="text" id="nameInput" placeholder="Ditt navn" autocomplete="off" maxlength="12" autofocus><br>
        </div>
        <div class="buttons">
            <a class="btn disabled" id="nameConfirm">Bekreft</a>
        </div>
    </div>
    <div class="container text-center draw hidden">
        <div class="drawword">
            <p class="text">Du skal tegne:</p>
            <p class="word"></p>
        </div>
        <div class="canvasholder">
            <canvas id="drawCanvas" class="canvas"></canvas>
            <div class="buttons inline" style="column-gap: 5px;">
                <a class="btn" id="eraseButton" style="justify-self: end; width: 121px;">Viskelær</a>
                <a class="btn" id="resetButton" style="justify-self: start; width: 121px;">Reset</a>
            </div>
        </div>
        <div class="buttons">
            <a class="btn" id="drawingSubmitButton">Ferdig</a>
        </div>
    </div>
    <div class="container text-center waiting hidden">
        <h1>Venter på</h1>
        <div class="players" id="waitingPlayers"></div>
    </div>
    <div class="container text-center guess hidden">
        <div class="drawing">
            <p class="text">Hva er dette?</p>
            <img class="drawing" id="drawingImg">
        </div>
        <div class="guessinput">
            <input type="text" id="guessInput" placeholder="Skriv her" autocomplete="off" autofocus>
        </div>
        <div class="buttons">
            <div class="btn" id="guessButton">Ferdig</div>
        </div>
    </div>
    <div class="container text-center vote hidden"></div>
</body>
</html>
