<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryktet Går</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/new.js" defer></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <h1>Generating new game</h1>
        <div class="loader"></div>
        <form id="form" action="">
            <input id="input" autocomplete="off" placeholder="Ditt navn" minlength="2" maxlength="16" required><button>Fortsett</button>
        </form> 
    </div>
</body>

</html>