<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryktet Går - lobby</title>
    <script src="/socket.io/socket.io.js"></script>
    <script defer src="/js/vote.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container text-center vote">
        <div class="top-player">
            <p>Spiller1</p>
        </div>
        <div class="guessword">
            <p class="text">Det originale ordet var:</p>
            <p class="word">Klokke</p>
            <p class="text" style="margin-top: 10px;">Spiller1 tegnet:</p>
        </div>
        <div class="canvas">
            <img src="example.png">
        </div>
        <div class="guessword">
            <p class="text">Spiller2 gjettet:</p>
            <p class="word">klokke</p>
        </div>
        <div class="votebox">
            <p class="text">Er dette riktig?</p>
            <div class="buttons inline" id="voteButtons">
                <div class="btn vote right">Riktig</div>
                <div class="btn vote wrong">Feil</div>
            </div>
            <div class="votebar hidden">
                <div class="green"></div>
                <div class="red"></div>
            </div>
            <div class="results">
                <!-- TODO: Show points given to players -->
                <div class="players inline">
                    <div class="player float-right">Test</div>
                    <div class="player float-left">Test2</div>
                    <div class="points float-right">+1 poeng</div>
                    <div class="points float-left">+1 poeng</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
