.buttons {
    display: grid;
    grid-row-gap: 5px;
    font-size: 2rem;
    align-items: center;

}

.btn {
    border: 1.5px solid black;
    border-radius: 10px;
    width: 50%;
    background-color: #d3d3d3;
    margin: auto;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    // TODO: Box-shadow for hover effect?
    background-color: #bdbdbd;
    border-color: #3f3f3f;
}

.btn.disabled {
    cursor: not-allowed;
    background-color: #8f8c8c;
    color: #262626;
}
