.buttons {
    display: grid;
    grid-row-gap: 5px;
    font-size: 2rem;
    align-items: center;

}

.btn {
    border: 1.5px solid black;
    border-radius: 10px;
    width: 50%;
    background-color: #d3d3d3;
    margin: auto;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    user-select: none;

    transition: background-color 200ms ease 0ms,
    box-shadow 200ms ease 0ms,
    border 200ms ease 0ms;
}

.btn:hover {
    box-shadow: 0px 5px 20px rgba(150, 150, 150, 0.986);
    background-color: #c4c4c4;
    border: 1.5px solid #3f3f3f;
}

.btn.disabled {
    cursor: not-allowed;
    background-color: #8f8c8c;
    color: #262626;
    //pointer-events: none;
}
