.canvas {
    margin: auto;
    border: 5px solid gray;
    border-radius: 10px;
}

.canvasholder {
    width: 500px;
    height: 500px;
}

.guessword {
    margin-top: -70px;
    margin-bottom: -90px;
}

.text {
    font-size: 28px;
}

.word {
    font-size: 48px;
}
