.canvas {
    margin-left: auto;
    margin-right: auto;
}

.canvasholder {
    width: 500px;
    height: 500px;
    border: 5px solid gray;
    border-radius: 10px;
}

.text {
    font-size: 28px;
}

.word {
    font-size: 48px;
}
