.container-flex {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    .guessword {
        margin: 5px;
    }
    div {
        transition: flex 1000ms ease 0ms;
        overflow: hidden;
        white-space: nowrap;
    }
}
