.invite {
    display: block;
    font-size: 2.5rem;
}

.link {
    color: #0066CC;
}

p {
    margin: 0px;
    padding: 0;
    position: relative;
}

.players {
    display: grid;
    grid-row-gap: 5px;
}

.player {
    background-color: lightgray;
    height: 50px;
    line-height: 50px;
    width: 50%;
    margin: auto;
    font-size: 1.5rem;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.icon {
    flex-grow: 1;
}

.icon svg {
    height: 1em;
    width: 1em;
    top: .2em;
    position: relative;
}

.playername {
    // TODO: Fix username going off to one side
    flex-grow: 3;
    align-self: flex-start;
}

.leader {
    // If user is lobby leader add crown icon
    // ? Do this in JS?
}

.you {
    // Add text that says it is you and ability to edit name
}

.tooltip {
    // TODO: Add tooltip for when you've copied the URL
}
