.invite {
    display: block;
    font-size: 2.5rem;
}

.link {
    color: #0066CC;
}

p {
    margin: 0px;
    padding: 0;
    position:relative;
}

.players {
    display: grid;
    grid-row-gap: 5px;
}

.player {
    background-color: lightgray;
    height: 50px;
    line-height: 50px;
    width: 50%;
    margin: auto;
    font-size: 1.5rem;
    align-items: center;
}

.icon {
    display: inline;
    position: absolute;
    left: 27%;
}

.playername {
    padding: auto;
}

.hidden {
    display: none;
}

.you {
    // TODO: Add text that says it is you and ability to edit name
}

.tooltiptext {
    color: black;
    font-size: 1.5rem;
    // TODO: Use this to center name and float leader icon to left?
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 1s;
}

.name {
    font-size: 2.5rem;
}

input {
    border: 1.5px solid black;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    font-size: 2rem;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    // Remove browser border
    outline: none;
}
