@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
body {
  font-family: 'Indie Flower', cursive;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1 {
  font-size: 4rem;
}

a {
  text-decoration: none;
  color: black;
}

.text-center {
  text-align: center;
}

.container {
  position: relative;
  max-width: 500px;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 100px;
  margin: auto;
}

.error {
  position: absolute;
  color: red;
  left: 0;
  right: 0;
  font-size: 1.5rem;
}

.invite {
  display: block;
  font-size: 2.5rem;
}

.link {
  color: #0066CC;
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
}

p {
  margin: 0px;
  padding: 0;
  position: relative;
}

.players {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 5px;
}

.player {
  background-color: lightgray;
  height: 50px;
  line-height: 50px;
  width: 50%;
  margin: auto;
  font-size: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  display: inline;
  position: absolute;
  left: 27%;
}

.playername {
  padding: auto;
}

.hidden {
  display: none !important;
}

.tooltiptext {
  color: black;
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.name {
  font-size: 2.5rem;
}

input {
  border: 1.5px solid black;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  font-size: 2rem;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  outline: none;
}

.buttons {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 5px;
  font-size: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  border: 1.5px solid black;
  border-radius: 10px;
  width: 50%;
  background-color: #d3d3d3;
  margin: auto;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color 200ms ease 0ms, border 200ms ease 0ms, -webkit-box-shadow 200ms ease 0ms;
  transition: background-color 200ms ease 0ms, border 200ms ease 0ms, -webkit-box-shadow 200ms ease 0ms;
  transition: background-color 200ms ease 0ms, box-shadow 200ms ease 0ms, border 200ms ease 0ms;
  transition: background-color 200ms ease 0ms, box-shadow 200ms ease 0ms, border 200ms ease 0ms, -webkit-box-shadow 200ms ease 0ms;
}

.btn:hover {
  -webkit-box-shadow: 0px 5px 20px rgba(150, 150, 150, 0.986);
          box-shadow: 0px 5px 20px rgba(150, 150, 150, 0.986);
  background-color: #c4c4c4;
  border: 1.5px solid #3f3f3f;
}

.btn.disabled {
  cursor: not-allowed;
  background-color: #8f8c8c;
  color: #262626;
}

.canvas {
  margin-left: auto;
  margin-right: auto;
}

.canvasholder {
  width: 500px;
  height: 500px;
  border: 5px solid gray;
  border-radius: 10px;
}

.text {
  font-size: 28px;
}

.word {
  font-size: 48px;
}

.buttons.inline {
      grid-template-areas: ". .";
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.buttons.inline .btn {
  margin: 0px;
  width: 125px;
}

.btn.right {
  color: #00BF08;
  border-color: #00BF08 !important;
  -ms-grid-column-align: end;
  justify-self: end;
}

.btn.wrong {
  color: #ff0000;
  border-color: #ff0000 !important;
  -ms-grid-column-align: start;
  justify-self: start;
}

.btn.vote {
  background-color: #eeeeee;
}

.votebar {
  margin: auto;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  justify-self: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.red {
  background-color: #ff0000;
  border-radius: 0px 5px 5px 0px;
  -webkit-transition: -webkit-box-flex 1000ms ease 0ms;
  transition: -webkit-box-flex 1000ms ease 0ms;
  transition: flex 1000ms ease 0ms;
  transition: flex 1000ms ease 0ms, -webkit-box-flex 1000ms ease 0ms, -ms-flex 1000ms ease 0ms;
  white-space: nowrap;
  overflow: hidden;
}

.green {
  background-color: #00BF08;
  border-radius: 5px 0px 0px 5px;
  -webkit-transition: -webkit-box-flex 1000ms ease 0ms;
  transition: -webkit-box-flex 1000ms ease 0ms;
  transition: flex 1000ms ease 0ms;
  transition: flex 1000ms ease 0ms, -webkit-box-flex 1000ms ease 0ms, -ms-flex 1000ms ease 0ms;
  white-space: nowrap;
  overflow: hidden;
}

.players.inline {
      grid-template-areas: ". .";
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.players.inline .player {
  margin: 0px;
}

.player.float-right {
  -ms-grid-column-align: end;
      justify-self: end;
}

.player.float-left {
  -ms-grid-column-align: start;
      justify-self: start;
}

.top-player {
  font-size: 2rem;
}

.container-flex {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100vh;
}

.container-flex .guessword {
  margin: 5px;
}

.container-flex div {
  -webkit-transition: -webkit-box-flex 1000ms ease 0ms;
  transition: -webkit-box-flex 1000ms ease 0ms;
  transition: flex 1000ms ease 0ms;
  transition: flex 1000ms ease 0ms, -webkit-box-flex 1000ms ease 0ms, -ms-flex 1000ms ease 0ms;
  overflow: hidden;
  white-space: nowrap;
}
/*# sourceMappingURL=style.css.map */